@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Lexend';
}


/* DOCUMENTS */
.info {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-right: 20px;
}


/*SEARCH*/
.search {
    flex: 1;
    display: flex;
    align-items: center;
}
.search label {
    position: relative;
    width: 100%;
}
.search label input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 5px 20px 5px 35px;
    font-size: 13px;
    outline: 0;
    background-color: #F1F1F1;
    border: none;
}
.search label ion-icon {
    position: absolute;
    top: 6px;
    left: 10px;
    font-size: 15px;
}

/* ACTION BUTTONS */
.actions {
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding-top: 8px;
}

.action-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 28px;
    color: #000000;
}

/*SORT*/
.sort {
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: 15px;
}
.sort option {
    font-size: 13px;
    font-weight: 400;
}
#statusSort {
    padding: 5px;
    font-size: 13px;
    border-radius: 10px;
    cursor: pointer;
    outline: 0;
    background-color: #F1F1F1;
    border: none;
}
#statusSort:focus {
    outline: none;
}


/*TABLE*/
.tables {
    grid-row: 3 / 5;
    grid-column: 1 / 5;
    padding-top: 10px;
}
.tables table {
    font-size: 15px;
    padding-top: 20px;
    width: 99%;
}
.tables tr th {
    border-bottom: 1px solid black;
    text-align: center;
}
.tables tr td {
    border-bottom: 1px solid black;
}
.statusColor {
    font-weight: 600;
}

.scholar-header,
.docName-header,
.date-header,
.type-header{
    display: flex;
    align-items: center;
}
.sort-icons {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.sort-icons a {
    color: #000;
}
.sort-icon {
    line-height: 0;
}

.wrap {
    display: inline-flex;
}
.wrap .icon {
    margin: 0, 20px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.wrap .icon span {
    height: 30px;
    width: 30px;
    display: block;
    text-align: center;
    z-index: 2;
}
.wrap .icon span ion-icon {
    font-size: 20px;
    line-height: 20px;
    color: #000;
}
.wrap .icon .tooltip {
    position: absolute;
    top: 0px;
    background-color: #fff;
    font-size: 12px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrap .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    pointer-events: auto;
}
.wrap .icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background-color: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}
.wrap .icon:hover span,
.wrap .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wrap .icon:hover ion-icon {
    color: #2F3787;
}


/*VIEW MODAL*/
.view {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.4);
    padding-top: 60px;
}
.view-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}
.view-content canvas {
    max-width: 100%;
    height: auto;
}
.view h2 {
    color: #2F3787;
    font-family: 'Lexend';
    padding-top: 30px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
.closeView {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
}
.closeView:hover {
    color: #000;
}